<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Personal Chat</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />
    <link href="css/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="css/lib/fontawesome.css" rel="stylesheet" />
    <link href="css//style.css" rel="stylesheet" />

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    {{> _header}}
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>