<script>
    const CURRENT_USER_ID = "{{id}}";
</script>
<div class="section row">
    <div class="col s2">
        <img src="{{image}}" class="circle responsive-img img-small" referrerpolicy="no-referrer">
    </div>
    <div class="col s10">
        <h4>Welcome!</h4>
        <h5>{{name}}</h5>
    </div>
</div>
<div>
    <p class="flow-text">Let chat and video call with anyone...</p>
</div>
<div>
    <input type="text" placeholder="Search user by name" name="search-user" id="search_user">
</div>
<div>
    <div id="search_result">
    </div>

</div>
<script>
    const goToChat = (targetUserId, currentUserId = CURRENT_USER_ID) => {
        $.post("/api/chat-room",
            {
                "target_user": targetUserId,
                "current_user": currentUserId
            },
            function (data, status) {
                location.href = `/chat/${targetUserId}`;
            }
        );
    }
    $("#search_user").on('keyup', function () {
        $.post("/api/user-search",
            {
                "search_user": this.value
            },
            function (data, status) {
                $("#search_result").empty();
                data.forEach((user) => {
                    $("#search_result").append(`
                    <div class="card row" style="padding: 10px; height:85px;">
                        <div class="col" style="padding: 0;">
                            <img src="${user.image}" class="circle responsive-img img-small" style="max-width: 65px;" referrerpolicy="no-referrer">
                        </div>
                        <div class="col">
                            <h5>${user.displayName}</h5>
                        </div>
                        ${CURRENT_USER_ID !== user._id ? `<button class="col right btn chip teal lighten-2" style="
                            width: 75px;
                            text-align: center;
                            margin: 16px;
                        "
                        onclick="goToChat('${user._id}')"
                        >
                            chat
                        </button>`: ``}
                    </div>
                `);
                });

            });
    })
</script>