<div class="section row">
    <div class="col s2">
        <img src="{{image}}" class="circle responsive-img img-small">
    </div>
    <div class="col s10">
        <h4>Welcome!</h4>
        <h5>{{name}}</h5>
    </div>
</div>
<div>
    <p class="flow-text">Let chat and video call with anyone...</p>
</div>