<h1>Welcome!</h1>
<h2>
    Let's chat with your friends. <br />
    We provide instant messaging, voice calls and video calls.
</h2>
<div class="d-flex">
    <a href="/auth/google" class="btn-get-started scrollto">Sign in with Google</a>
</div>