<div class="video" id="js_call_section">
    <div class="local-video"><video style="width: 100%; height: 150px;" id="js_local_video"
            class="border border-primary" muted autoplay></video></div>
    <div class="remote-video"><video style="width: 100%; height: 600px;" id="js_remote_video" autoplay></video>
    </div>
    <div class="video-btn-bar">
        <a class="btn btn-danger hungup-btn" onclick="hangupCall()">
            <i class="fa fa-phone"></i>
        </a>
    </div>
</div>
<div class="row clearfix" id="js_message_section">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="row p-3 profile m-0">
                    <a href="javascript:void(0);">
                        <img src="{{image}}" alt="avatar" referrerpolicy="no-referrer" />
                    </a>
                    <div>
                        <h5>{{name}}</h5>
                    </div>
                </div>

                <div class="input-group p-2 mt-2">
                    <div class="input-group-prepend">
                        <a class="btn input-group-text" id="js_search_cancel"><i class="fa fa-xmark"></i></a>
                    </div>
                    <input type="text" id="js_search_user" class="form-control" placeholder="Search..." />
                </div>
                <ul id="js_search_result" class="list-unstyled chat-list mt-2 mb-0">
                </ul>
            </div>
            <div class="chat" id="js_chat">
            </div>
        </div>
    </div>
</div>
<script>
    const CURRENT_USER_ID = "{{id}}";

    if (!("Notification" in window)) {
        alert("This browser does not support desktop notification");
    }
    // Otherwise, we need to ask the user for permission
    else if (Notification.permission !== "denied") {
        Notification.requestPermission();
    }
</script>
<script src="/js/store.js"></script>
<script src="/js/ui.js"></script>
<script src="/js/wss.js"></script>
<script src="/js/webRTCHandler.js"></script>
<script src="/js/chat.js"></script>